<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Search page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/dark-light.css" />

    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>
    <%- include('../Components/dark-light.ejs') %>

    <main class="d-flex flex-nowrap">
      <%- include('../Components/sidebar.ejs', {currentPage: "search"}) %>

      <section class="w-100">
        <%- include('../Components/navbar.ejs') %>

        <table
          style="width: 99%"
          class="text-center mx-auto table mt-5 table-striped table-bordered"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Country</th>

              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% arr.forEach( (item, index) => { %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= item.fireName %> <%= item.lastName %></td>
              <td><%= item.gender %></td>
              <td><%= item.country %></td>

              <td>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="View details"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="/user/<%= item._id %>"
                  ><i class="bi bi-eye"></i
                ></a>

                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="Edit user"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="/edit/<%= item._id %>"
                >
                  <i class="bi bi-pencil"></i>
                </a>
                <form
                  style="display: inline"
                  action="/edit/<%= item._id %>?_method=DELETE"
                  method="post"
                >
                  <button
                    data-bs-toggle="tooltip"
                    data-bs-title="Delete user"
                    data-bs-placement="top"
                    class="btn btn-danger btn-sm"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
